<div class="<%= name %>"
     ng-controller="AccountSelectController"
     ng-init="current_filter = <%== initial_filter %>">
  <div class="input-group">
    <!-- 科目フィルタ -->
    <div class="dropdown">
      <!-- 通常表示されるボタン部分 -->
      <button type="button" class="btn btn-outline-secondary dropdown-toggle"
              data-bs-toggle="dropdown"
              ng-disabled="newTransaction.submitting"
              ng-focus-on-change="current_filter">
        <%= bootstrap_icon "filter" %> {{current_filter.title}}
      </button>
      <!-- ボタン押下時に展開されるメニュー -->
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="filter in type_filters">
          <a class="dropdown-item" href ng-click="setCurrentFilter(filter)">{{filter.title}}</a>
        </li>
      </ul>
    </div>

    <!-- 科目選択ダイアログ -->
    <select name="<%= name %>" class="form-control"
            ng-disabled="newTransaction.submitting"
            ng-model="<%== selection_model %>">
      <option value="0"><%== selection_title %></option>
      <option ng-repeat="item in items | byAccount:current_filter.type_ids | filter:{selectable:true}:strict" value="{{ item.id }}" ng-selected="item.id == <%== selection_model %>">{{ item.name }}</option>
    </select>
  </div>
</div>
