<h3 class="hidden-xs">▼ 登録</h3>
<form id="entry-form" ng-cloak
      ng-controller="EntryFormController"
      ng-submit="addNewTransaction()"
      ng-wait-cursor-on="newTransaction.submitting">
  <fieldset>

    <!-- トランザクションに1つ -->
    <!-- 取引時刻 -->
    <div class="row mb-2">
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-text"><%= bootstrap_icon "clock" %></span>
          <input name="date" class="form-control"
                  type="date" placeholder="日付"
                  ng-model="newTransaction.date"
                  ng-disabled="newTransaction.submitting"
                  ng-focus-on-change="newTransaction.date"
                  autofocus />
        </div>
      </div>
    </div>

    <div class="row mb-1"
        ng-repeat="row in formattedNewTransaction.rows"
        ng-focus-first-input-if="($index !== 0) && (formattedNewTransaction.rows.length === $index + 1)">

      <span class="col-sm-4 debit-account">
        <%= render partial: 'layouts/account_item_selection',
            locals: {
              name: 'debit-account',
              initial_filter: 'type_filters[1]',
              selection_model: 'row.debit.item_id',
              selection_title: '【借方】',
            }
        %>
      </span>

      <span class="col-sm-2 debit-amount">
        <span class="input-group">
          <span class="input-group-text">&yen;</span>
          <input name="debit-amount" class="form-control" style="text-align: right;"
                  type="number" placeholder="借方金額"
                  ng-disabled="newTransaction.submitting"
                  ng-model="row.debit.amount"
                  ng-change="amountLinked && (row.credit.amount = row.debit.amount)"
                  suggest-on-unbalanced="newTransaction"
                  suggest-side="debit" suggest-disable-on="amountLinked"/>
        </span>
      </span>

      <span class="col-sm-3 credit-account">
        <%= render partial: 'layouts/account_item_selection',
            locals: {
              name: 'credit-account',
              initial_filter: 'type_filters[0]',
              selection_model: 'row.credit.item_id',
              selection_title: '【貸方】',
            }
        %>
      </span>

      <span class="col-sm-2 credit-amount">
        <span class="input-group">
          <span class="input-group-text">&yen;</span>
          <input name="credit-amount" class="form-control" style="text-align: right;"
                  type="number" placeholder="貸方金額"
                  ng-model="row.credit.amount"
                  ng-disabled="amountLinked || newTransaction.submitting "
                  suggest-on-unbalanced="newTransaction"
                  suggest-side="credit" suggest-disable-on="amountLinked"/>
        </span>
      </span>

      <!-- エントリーコントロール(未実装) -->
      <span class="col-sm-1">
        <button type="button" class="btn btn-link link-danger"
                ng-disabled="formattedNewTransaction.rows.length === 1 || newTransaction.submitting">
                  <%= bootstrap_icon "backspace", width: 24, height: 24 %>
        </button>
      </span>
    </div>

    <!-- トランザクションコントロール -->
    <div class="row mt-2">
      <div class="col-sm-9 d-grid">
        <button class="btn btn-light" type="button"
                ng-click="newTransaction.addEmptyEntriesPair(); formattedNewTransaction = newTransaction.toDisplayFormat()"
                ng-disabled="newTransaction.submitting">
          <%= bootstrap_icon "plus-circle" %> 行を追加
        </button>
      </div>
      <div class="col-sm-2 d-grid">
        <button class="btn btn-primary" type="submit" ng-disabled="newTransaction.submitting">
          <%= bootstrap_icon "pencil" %> 登録
        </button>
      </div>
    </div>

  </fieldset>
</form>
