<%= form_for(@accounting_transaction) do |f| %>
  <% if @accounting_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting_transaction.errors.count, "error") %> prohibited this accounting_transaction from being saved:</h2>

      <ul>
      <% @accounting_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
