<h1>Listing accounting_transactions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounting_transactions.each do |accounting_transaction| %>
  <tr>
    <td><%= accounting_transaction.user %></td>
    <td><%= accounting_transaction.date %></td>
    <td><%= accounting_transaction.description %></td>
    <td><%= link_to 'Show', accounting_transaction %></td>
    <td><%= link_to 'Edit', edit_accounting_transaction_path(accounting_transaction) %></td>
    <td><%= link_to 'Destroy', accounting_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_accounting_transaction_path %>
