<!DOCTYPE html>
<html lang="ja" ng-app="kake-bosan">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      <%= "[#{Rails.env[0, 3]}]" unless Rails.env == 'production' %>
      <%= content_for?(:title) ? yield(:title) : "家計簿さん" %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body ng-controller="AppController">
    <%= render 'layouts/header.html.erb' %>

    <div class="container-fluid">
      <div class="row">
        <!-- サイドバーメニュー -->
        <!-- PCから見た場合のみサイドバーとして表示 -->
        <section id="side-nav" class="col-sm-3 hidden-xs">
          <%= render 'layouts/sidemenu.html.erb' %>
        </section>

        <!-- メイン表示部分 -->
        <section id="main-contents" class="main col-sm-9 col-xs-12">
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
  <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
</html>
