<!DOCTYPE html>
<html lang="ja" ng-app="kake-bosan">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      <%= "[#{Rails.env[0, 3]}]" unless Rails.env == "production" %>
      <%= content_for?(:title) ? yield(:title) : "家計簿さん" %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body ng-controller="AppController">
    <%= render "layouts/header" %>

    <div class="container-fluid">
      <div class="row">
        <!-- メイン表示部分 -->
        <section id="main-contents" class="main col-sm-9 col-xs-12 pt-4 pb-5 mb-4">
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>
