<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      <% if Rails.env.production? %>
        家計簿さん
      <% else %>
        <%= "[#{Rails.env.substring(0, 3)}]家計簿さん" %>
      <% end %>
    </title>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
